{
  "extends": "airbnb",
  "plugins": [ "jest" ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "prefer-destructuring": ["error", { "array": false, "object": false }]
  }
}